[Desktop Entry]
Type=Application
Terminal=false
Name=EarBleed
Exec=/bin/earbleed
StartupWMClass=supervolume
Name[en_US]=earbleed.desktop

Icon=/home/thollar/EarBleed/icon.ico
