[Desktop Entry]
Type=Application
Terminal=false
Name=Super Volume
Icon=/home/thollar/SuperVolume/icon.ico
Exec=/home/thollar/SuperVolume/SuperVolume.py
StartupWMClass=supervolume
